<h1>Show #<%= @show.id %></h1>
<h2>"<%= @show.title %>"</h2>
<em><%= @show.category %></em>

<p><h3>Actors:</h3>
    <ul><% @show.actors.each do |actor| %>
        <h4><li><%= actor.name %> plays "<%= actor.character_name %>"</li></h4>
        <% end %>
    </ul>
</p>
<br>
<form method="get" action="/shows/<%=@show.id%>/edit">
    <input type="submit" value="Edit Post">
</form>
<form method="POST" action="/shows/<%=@show.id%>/delete">
    <input type="hidden" id="hidden" name="_method" value="delete">
    <input type="submit" value="Delete Post">
</form>
<form method="get" action="/shows">
    <input type="submit" value="View all">
</form>